.Rproj.user*
.Rhistory
.RData
.Ruserdata

.DS_Store
**/Results
**/Data
**/Scripts/replication
**/Scripts/external
**/Scripts/tmp
**/Scripts/additional_analyses
workspace_maturational_index.RData
Scripts/.DS_Store
Scripts/reformat.*
Scripts/maturational_index/permutation_testing_bl14_sl.R
Scripts/maturational_index/perm_bl14_sl.R
Scripts/maturational_index/maturational_index_ICV.R
Scripts/maturational_index/maturational_index_ICV_stratified.R